.DS_Store
captures

local.properties
ext.properties

# for gradle, IDEA
.gradle
build/
*.iml
!.idea/runConfigurations/*
.idea/*.xml
.idea/.name
.idea/copyright/
.idea/libraries/
.idea/scopes/
.idea/inspectionProfiles/